.f2x-video-carousel {
	padding-top: 75px;
}

.fullscreen-bg {
	height: calc(100vh - 75px);
}

.bg-back-video {
	height: calc(100vh + 259px);
	position: absolute;
	left: calc( 50vw - 960px);
	z-index: -100;
}

.alphaMask {
	width: 100%;
	height: 100%;
	z-index: 0;
}

.bg-fore-video {
	height: 600px;
	position: absolute;
	left: calc(50vw - 533px);
	top: calc(50vh - 300px);
	z-index: 100;
}

.blurMask {
	height: 334px;
	position: relative;
	overflow: hidden;
}

.blurMask video {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	z-index: -50;
	bottom: 0;
}

.f2x-pagenation {
	position: absolute;
    left: 120px;
    bottom: 80px;
}

.btn-page {
	display: inline-block;
	margin: 5px;
	width: 15px;
	height: 15px;
	border-radius: 8px;
	border: 1px solid white;
}

.btn-page:hover {
	transition: 0.2s;
	background-color: white;
}

.f2x-video-controls {
		position: absolute;
		left: calc(50vw - 533px);
		bottom: calc(50vh - 300px);

    width: 1066px;
    height: 50px;
    
    background-color: rgba(144,144,144,0.5);
    color: white;
    z-index: 101;
}

.f2x-video-big-play {
	position: absolute;
	left:50%;
	top:50%;
	
	width:100px;
	height: 100px;

	margin: -50px 0 0 -50px;
	z-index: 101;
}

.f2x-video-player-close {
	position: absolute;
	right: calc(50vw - 520px);
	top: calc(50vh - 290px);
	color: white;
	z-index: 100;
}

.f2x-btn-get-started {
	position: absolute;
	right: calc(50vw - 520px);
	top: 50%;
	
	width: 150px;
	height: 150px;

	margin: -75px 0 0 -75px;
	z-index: 101;
}

.f2x-comment {
	position: absolute;
	right: 50%;
	top: 50%;
	
	width: 375px;
	height: 50px;

	margin: 150px -188px 0 0;
	z-index: 1;
}

.f2x-arrow-down {
	position: absolute;
	right: 50%;
	top: 50%;
	
	width: 45px;
	height: 13px;

	margin: 220px -22px 0 0;
	z-index: 1;
}

.f2x-video-prev-video {
	position: absolute;
	left: calc(50vw - 580px);
	top:50%;
	
	width: 30px;
	height: 60px;

	margin: -30px 0 0 -30px;
	z-index: 101;
}

.f2x-video-next-video {
	position: absolute;
	left: calc(50vw + 610px);
	top:50%;
	
	width: 30px;
	height: 60px;

	margin: -30px 0 0 -30px;
	z-index: 101;
}

.f2x-video-play {
	position: absolute;
	left:24px;
	top:16px;
	width:15px;
	height: 20px;
}

.f2x-video-fullscreen {
	position: absolute;
	right:24px;
	top:16px;
	width:25px;
	height: 19px;
}

.f2x-video-audio {
	position: absolute;
	left: 180px;
	top: 18px;
	width:145px;
	height: 18px;
}
.f2x-video-audio .f2x-video-audio-controller {
	position: absolute;
	
	top: 11px;
	right: 0;
	
	width: 100px;
}
.f2x-video-audio .f2x-video-mute {
	position: absolute;
	left:0;
	top:0;
	width:26px;
	height: 18px;
	
}

.f2x-video-progress {
	position: absolute;
	top:-4px;
	width: 100%;
	height: 4px;
	background-color: white;
}

.f2x-video-progress-base {
	position: absolute;
	top:-7px;
	left: 0;
	height: 10px;
	background-color: rgba(255,255,255,0);
}

.f2x-video-scrub {
	position: absolute;
	top:-8px;
	height: 16px;
	width: 16px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	border-radius: 50%;
	background-color: white;
}

.f2x-video-time {
	position: absolute;
	top: 18px;
	left: 60px;
	font-size: 14px;
}


.f2x-video-progress-base[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
}
.f2x-video-progress-base[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
}
.f2x-video-progress-base[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
}
.f2x-video-progress-base[type=range]::-ms-fill-lower {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
}
.f2x-video-progress-base[type=range]::-ms-fill-upper {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
}
