.f2x-home-logo {
    position: relative;
    height: 334px;
    width: 100%;
    
}

.f2x-home-logo-image {
    width: 100%;
    height: 300px;
    transform: skewX(40deg);
    margin-left: -25%;
    background: url("../media/f2x-logo.png") no-repeat center center;
}

.f2x-tutorial-container {
    position: relative;
    width: 926px;f
    height: 260px;
    margin: 0 auto;
}

.f2x-tutorial-thumb-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 462px;
    height: 112px;
    background: url("../media/left.png");
}

.f2x-tutorial-thumb-right{
    position: absolute;
    top: 0;
    /*right: 154px;
    right: 0px;*/
    width: 308px;
    height: 112px;
    background: url("../media/right.png");
}

.f2x-tutorial-thumb-move{
    position: absolute;
    /*left: 203px;
    top: 127px;*/
    /*left: 462px;
    top: 0px;*/
    width: 154px;
    height: 112px;
    background: url("../media/thumb-move.png");
}

.f2x-tutorial-cursor{
    position: absolute;
    /*left: 170px;
    top: 211px;*/
    /*left: 430px;
    top: 80px;*/
    width: 63px;
    height: 63px;
    background: url("../media/cursor.png");
}

.f2x-tutorial-text{
    position: absolute;
    left: 1px;
    top: 121px;
    width: 177px;
    height: 32px;
    background: url("../media/tutorial-text.png");
}

.f2x-tutorial-title{
    position: relative;
    width: 100%;
    height: 120px;
    background: url("../media/tutorial-title.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.f2x-tutorial-button{
    position: absolute;
    top: 121px;
    right: 0;
    width: 206px;
    height: 28px;
    background: url("../media/tutorial-buttons.png");
}

.f2x-title {
    margin-top: 13px;
    margin-bottom: 0px;
    line-height: 24px;
    font-weight: 500;
    transform: scale(1.2);
    opacity: 0;
    transition: all 0.3s;
}

.f2x-home-content-1 {
    position: relative;
    max-width: 980px;
    min-height: 410px;
    margin: 10px auto;
    background: url("../media/iMac.png") no-repeat right center;
}

.f2x-phone-img {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    left: 440px;
    bottom: 0;
    width: 130px;
    height: 253px;
    background: url("../media/iPhone.png") no-repeat;
}

.f2x-linear {
    height: 39px;
    position: relative;
    transition: width 0.3s;
    width: 50px;
    transform: scaleX(0);
    max-width: 750px;
    background: url("../media/linear.png") bottom left;
    z-index: 1;
}

.f2x-linear::before {
    content: '';
    width: 12px;
    height: 39px;
    display: inline-block;
    position: relative;
    left: -12px;
    background: url("../media/linear-before.png") bottom left;
}

.f2x-linear::after {
    
    content: '';
    width: 39px;
    height: 39px;
    display: inline-block;
    position: absolute;
    right: -25px;
    background: url("../media/pointer.png") bottom left;
}

.linear-1 {
    width: 620px;
    transform: none;
}

.linear-2 {
    width: 495px;
    transform: none;
    margin-top: 50px;
}

.linear-3 {
    width: 760px;
    transform: none;
    margin-top: 20px;
}

.show {
    transform: none;
    margin-left: 0!important;
    opacity: 1;
    transition: all 0.3s;
}

.f2x-home-content-2 {
    position: relative;
    margin-top: 30px;
    width: 100%;    
}

.f2x-karlie {
    max-width: 568px;
    margin-bottom: 20px;   
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 148px;
    margin-left: -568px;
    transition: 0.3s;
    background: url("../media/karliekloss.png") no-repeat bottom left;
}

.f2x-home-bar {
    width: 100%;
    height: 34px;
    background: url("../media/bar.png");
 }

 .f2x-home-bar-top {
    width: 100%;
    height: 35px;
    background: url("../media/bar-top.png");
 }

.f2x-home-content2-video {
    width: 485px;
    height: 273px;
}

.f2x-home-footer {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #ac9c92;
}

.f2x-footer-back-img {
    position: absolute;
    top: 0;
    width: 1600px;
    height: 600px;
    left: calc(50% - 600px);
    background: url("../media/footer-back1.png");
}

.f2x-home-btn-select {
    position: absolute;
    top: 400px;
    width: 189px;
    height: 52px;
    border: none;
    color: white;
    background-color: #85151a;
}

.f2x-home-btn-select:hover {
    transition: 0.2s;
    background-color: #953a3a;
}

.f2x-home-btn-select:first-child {    
    left: 738px;
}

.f2x-home-btn-select:last-child {    
    left: 1017px;
}