.f2x-reset-title {
	text-align: center;
	
	color: #222;
	font-size: 16x;
}

.f2x-reset-inputs {
	width: 400px;
	
	margin: 0 auto;
}






/* Móvil [horizontal] | tablets: [vertical]
   ------------------------------------------------------------------------- */
@media (max-width: 767px) {
	.mobileOptions {
		position: absolute;
		
		top: -52px;
		left: 0;
		right: 0;
		
		z-index: 10;
		
		padding-top: 40px;
		
		background: #fff;
	}
	
	.mobileOptions .f2x-reset-inputs {
		margin-top: 100px;
		
		width: 100%;
	}
	
	.mobileOptions input {
		width: 210px !important;
	}
	.mobileOptions .f2x-input-box {
		width: 250px !important;
		margin: 45px auto 25px !important;
	}
	.mobileOptions button {
		margin-top: 30px;
	}
}