.f2x-account-data {
	width: 370px;
	
	text-align: center;
	
	padding: 0 105px 0 100px;
	
	float: left;
}
.f2x-account-data .f2x-account-data-user {
	position: relative;
	
	width: 135px;
	height: 135px;
	
	margin: 40px auto 45px auto;
	
	border-radius: 50%;
	
	overflow: hidden;
}
.f2x-account-data .f2x-account-data-user .f2x-account-data-user-img {
	width: 135px;
	height: 135px;
}
.f2x-account-data .f2x-account-data-user .f2x-account-data-user-edit {
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	
	position: absolute;
	
	background: rgba(0,0,0,.3);
	
	bottom: 0;
	left: 0;
	
	padding: 5px 0 10px 0;
	
	width: 100%;
	
	display: none;
}
.f2x-account-data .f2x-account-data-user:hover .f2x-account-data-user-edit {
	display: block;
}

.f2x-account-data .f2x-account-input {
	font-size: 12px;
	
	text-align: left;
	
	margin-bottom: 15px;
}
.f2x-account-data .f2x-account-input input, .f2x-account-data .f2x-account-input textarea {
	border-color: #969696
}

.f2x-account-data .f2x-account-saves {
	margin-top: 35px;
}



.f2x-account-platinum {
	font-family: 'Playfair Display', serif;
	color: #222;
	font-size: 15px;
	letter-spacing: 2.2px;
	
}