.f2x-account-share {
	margin: 140px auto 0 auto;
	
	text-align: center;
}


.f2x-account-share .f2x-account-share-icon {
	margin: 10px 0 35px 0;
}

.f2x-account-share .f2x-account-share-icon .f2x-account-share-icon-box {
	float: left;
	
	text-align: center;
	font-size: 12px;
	
	margin: 0 14px 0 0;
}


.f2x-account-share .f2x-account-share-button {
	height: 50px;
	
	font-size: 15px;
}


.f2x-account-share .f2x-account-share-info {
	margin: 12px 0 40px 0;
	
	font-size: 12px;
	
	color: #969696;
}

.f2x-account-share-advisory {
	font-size: 13px;
	
	padding-bottom: 45px;
	
	color: #5a5a5a;
}

.f2x-account-share-advisory u {
	margin-left: 30px;
}


.f2x-account-share-advisory span {
	display: inline-block;
}


/* Móvil [horizontal] | tablets: [vertical]
   ------------------------------------------------------------------------- */
@media (max-width: 767px) {
	.f2x-account-share-advisory span {
		display: block;
		
		margin-bottom: 20px;
	}
}
 
/* Móvil: vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) {
	
}