.f2x-login-buttons {
	width: auto;
	
	display: inline-block;
	white-space: nowrap;
	
	font-size: 14px;
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
}


.f2x-login-buttons button {
	background: transparent !important;
	
	border-width: 0 !important;
	
	padding: 0 !important;
	margin: 0 !important;
	
	color: #222 !important;
	
	font-family: 'Montserrat', sans-serif !important;
    font-size: 1em !important;
    
    width: auto !important;
    
    font-weight: normal !important;
    
    letter-spacing: 0.2px !important;
    
    cursor: pointer;
}

.f2x-login-buttons div div, .f2x-login-buttons img {
    display: inline-block
}

.f2x-paypal {
	width: 17px;
	height: 20px;
	display: inline-block;
	background: url("../media/icon_paypal.svg");
}

.f2x-paypal-disabled {
	width: 17px;
	height: 20px;
	display: inline-block;
	background: url("../media/icon_paypal_disabled.svg");
}

.f2x-welcome {
	width: 148px;
	height: 242px;
	margin: 55px auto;
	background: url("../media/welcome.png");
}

.f2x-input-comment {
	background: url('../media/needhelp.png');
	width: 21px;
	height: 22px;
	right: 0;
	bottom: 7px;
	position: absolute;
}

.f2x-cvv-comment {
	position: absolute;
    bottom: 25px;
    right: -86px;
    width: 305px;
	height: 155px;
	background: url('../media/cvv-comment.png'); 
}

.f2x-payment-comment {
	position: absolute;
	bottom: 70px;
    right: calc(50% - 170px);
	color: #1d1d1d;
	font-size: 11px;
    width: 305px;
	height: 155px;
	padding: 20px;
	background: url('../media/pay-comment.png') no-repeat;
	background-size: 100% 100%; 
}

.f2x-cvv-comment::after {
	content: ''
}

* {
	transition: all 0.2s;
}